extends layout

block content
   div.col-md-6     
      form.form(name='form', method='POST', action="/articulos/#{a.id}?_method=PUT")
            input(type="hidden", value="PUT", name="_method")
            
            div(class='form-group row')
               label.col-form-label.col-xs-2 Nombre
               div.col-xs-10
                  input.form-control(type='text', name='nombre', value='#{a.nombre}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Modelo
               div.col-xs-10
                  input.form-control(type='text', name='modelo', style='text-transform:uppercase' value='#{a.modelo}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Codigo de Barras
               div.col-xs-10
                  input.form-control(type='text', maxLength='12', name='codigoBarra', value='#{a.codigoBarra}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Costo
               div.col-xs-10
                  input.form-control(type='number', name='costoUnitario', value='#{a.costoUnitario}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Costo Pedido
               div.col-xs-10
                  input.form-control(type='number', name='costoPedido', value='#{a.costoPedido}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Costo Mantenimiento
               div.col-xs-10
                  input.form-control(type='number', name='costoMantenimiento', value='#{a.costoMantenimiento}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Unidades X Bulto
               div.col-xs-10
                  input.form-control(type='number', name='unidadesXbulto', value='#{a.unidadesXbulto}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Stock
               div.col-xs-10
                  input.form-control(type='number', name='stock', value='#{a.stock}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Demanda Diaria
               div.col-xs-10
                  input.form-control(type='number', name='demandaDiaria', value='#{a.demandaDiaria}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Produccion Diaria
               div.col-xs-10
                  input.form-control(type='number', name='produccionDiaria', value='#{a.produccionDiaria}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Periodo de Revición
               div.col-xs-10
                  input.form-control(type='number', name='periodoRevicion', value='#{a.periodoRevicion}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Plazo de Reposición
               div.col-xs-10
                  input.form-control(type='number', step='0.01', name='plazoRepocicion', value='#{a.plazoRepocicion}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Desvicación Estantar
               div.col-xs-10
                  input.form-control(type='number', name='desviacionEstandar', value='#{a.desviacionEstandar}')
            div(class='form-group row')
               label.col-form-label.col-xs-2 Servicio Deseado
               div.col-xs-10
                  input.form-control(type='number', name='servivioDeseado', value='#{a.servivioDeseado}')
            div.col-md-10
            div.col-md-2      
               button.btn.btn-lg.btn-success(type='submit')  Guardar Cambios
               br
               br
               br
   div.col-md-4        
      p Modelo Sugerido: 
         button.btn #{a.modeloSugerido}  
      p Costo Total Anual: 
         button.btn $ #{T}  
      p Cantidad optima pedido: 
         button.btn.btn-success #{Q} 
      if a.modelo == "Q"
         p Punto de Reorden: 
            button.btn.btn-danger #{R} 
      
